{#
 # Players index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Players" %}

{% block content %}

<h1>USMNT Players</h1>

<section id="players">

	<ul class="list-unstyled">
		<div class="row">
	       {% for entry in craft.entries.section('players').find() %}
			<div class="col-md-2 col-sm-3 col-xs-4">
	           <li>
					<a href="{{ entry.url }}">
						{% for image in entry.player_photo %}		
								<div class="player-image" style="background-image: url('{{ image.url }}');"></div>
							{% else %}		    
								<div class="player-no-image"><span class="glyphicon glyphicon-user"></span></div>
						{% endfor %}
						<h3>{{ entry.title }}</h3>
					</a>
				</li>
			</div>
	       {% endfor %}
		</div>
	</ul>
	
</section>
		
		
{% endblock %}