@import "bootstrap.less";

/* ----------------------------------------------------------------------------- */
// BASIC RESET

body {
	font-family: "ff-tisa-web-pro", Georgia, serif;
}

h1 {
	.AlternateGothic();
	font-size: 3em;
	line-height: 1em;
}

h2 {
	.AlternateGothic();
	font-size: 2.5em;
	line-height: 1em;
}

h3 {
	.AlternateGothic();
}

h4 {
	.SourceSans();
	text-transform: uppercase;
	color: @gold;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

h5 {
	.SourceSansR();
	color: @gold;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, li {
	a, a * {
		color: @black;
		&:hover {
			text-decoration: none;
			color: @red;
		}
	}
}
a {
	h1, h2, h3, h4, h5, h6 {
		color: @black;
		&:hover {
			text-decoration: none;
		}
	}
}

p {
	line-height: 1.5em;
}

em, i {
	.LeituraI();
}

strong, b {
	.LeituraB();
}


img {
	width: 100%;
	height: auto;
}

/* ----------------------------------------------------------------------------- */
// MISCELLANEOUS

.title {
	margin-top: 0;
}

.read-more {
	.h4();
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: @blue;
	&:hover {
		color: @red;
		text-decoration: none;
	}
}

.fluid-width-video-wrapper {
	margin: 20px 0;
}



/* ----------------------------------------------------------------------------- */
// HEADER

header {
	.AlternateGothic();
	margin: 20px 0 40px;
	.left-head {
		background-color: @blue;
		padding-left: 20px;
	}
	.right-head {
		background-color: @red;
		padding: 0 5px;
		min-height: 0;
	}
}

nav {
	&.navbar { border: none; }
	text-transform: uppercase;
	.navbar-brand {
		font-size: 4em;
		line-height: 1em;
		padding: 0;
		margin-top: 12px;
		display: inline-block;
	}
	.top-nav {
		position: absolute;
		right: 0;
		top: 8px;
		padding: 0 5px;
	}
	.bottom-nav {
		margin-top: 20px;
		padding-left: 16px;
		li {
			margin-bottom: 10px;
			a {
				font-size: 1.8em;
				padding: 0;
				margin-right: 20px;
				color: @white;
			}
			&:last-child a {
				margin-right: 0;
			}
		}
	}
}

.navbar-default {
	background-color: transparent;
	.navbar-collapse {
		border: none;
	}
	.navbar-form {
		border: 1px solid @white;
		padding: 0;
		margin: 7px 10px;
		.form-group {
			width: 165px;
			.SourceSansR();
			color: @white;
		}
		.form-control, button {
			border: none;
			padding: 0 10px;
			height: 30px;
			line-height: 29px;
		}
		button {
			text-transform: uppercase;
			color: @white;
			background-color: @red;
		}
	}
}

.nav .social-link {
	a {
		padding: 13px 10px;
	}
	img {
		width: 20px;
		&:hover {
			opacity: .8;
		}
	}
}

.navbar-toggle {
	margin-right: 15px;
	margin-top: 23px;
}

/* ----------------------------------------------------------------------------- */
// NEWS

#news {
	article {
		border-bottom: 1px solid @red;
		margin-bottom: 20px;
		padding-bottom: 20px;
		h2 {
			.title();
		}
	}
	.news {
		overflow: hidden;
		.featured-image {
			float: left;
			width: 50%;
			margin: 0 20px 20px 0;
		}
	}
	.news.single {
		p:first-of-type {
			font-size: @font-size-large;
		}
	}
}

.top-news {
	p {
		font-size: @font-size-large;
		line-height: 1.6em;
	}
	.featured-image {
		width: 100%;
		height: 380px;
		background-size: cover;
		background-position: 50% 50%;
		margin-bottom: 20px;
	}
}


/* ----------------------------------------------------------------------------- */
// SIDEBAR

#sidebar {
	section {
		margin-bottom: 40px;
		border-bottom: 1px solid @red;
		padding-bottom: 20px;
	}
	ol {
		.AlternateGothic();
		margin-left: 15px;
		padding-left: 0;
	}
	li {
		margin-bottom: 10px;
		* {
			margin: 0;
		}
		h3 {
			font-size: 1.5em;
		}
		
	}
}


/* ----------------------------------------------------------------------------- */
// FOOTER

footer {
	.SourceSansR();
	padding: 60px;
	ul {
		li {
			float: left;
			margin-right: 20px;
		}
	}
}


/* ----------------------------------------------------------------------------- */
// RESPONSIVE

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { 
	
	header {
		.left-head {
			padding: 0 20px;
		}
	}
	
	nav {
		.navbar-header {
			float: none;
			text-align: center;
		}
		.navbar-brand {
			font-size: 6.1em;
			float: none;
		}
		.top-nav {
			right: 132px;
		}
		.bottom-nav {
			margin-top: 69px;
			padding: 0;
			margin-left: 132px;
			li {
				a {

				}
			}
		}
	}
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

	header {
		left-head {
			padding-left: 20px;
		}
		.right-head {
			height: 108px;
		}
	}
	
	nav {
		.navbar-header {
			float: left;
			text-align: left;
		}
		.navbar-brand {
			float: left;
			font-size: 6em;
		}
		.top-nav {
			right: 0;
		}
		.bottom-nav {
			float: right;
			margin-left: 0;
		}
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

}