{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "About" %}

{% block content %}
	
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
	
			<section>
				<h1>About Kick Republic</h1>
				
				{{ about.purpose }}
			</section>
			
	
			<section id="writers">
				<h4>Writers</h4>
				{% for row in about.writers %}
					<article>
						<h2>{{ row.writer_name }}</h2>
						<p>{{ row.writer_bio }}</p>
					</article>
				{% endfor %}
			</section>
			
		</div>
	</div>

{% endblock %}
