{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "News" %}

{% block content %}

<div class="row">
	<div class="col-sm-9">
		<section id="news">
			
			{% paginate craft.entries.section('news').limit(3) as entries %}
			
			{% for entry in entries %}
				<article class="news">
					<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
			
				    {% for image in entry.news_image %}
					   <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ entry.title }}" class="featured-image">
					{% endfor %}
				
					<h5>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author }}</h5>
					{{ entry.body.page(1) }}
					
					{% if entry.related_players | length %}
					<h4 class="related-players">Related Players:
						{% for related_players in entry.related_players %}
							<small><a href="{{ related_players.url }}">{{ related_players.title }},</a></small>
						{% endfor %}
					</h4>
					{% endif %}
					
				</article>
			{% endfor %}
			
			
			{% if paginate.prevUrl %}
		        <a href="{{ paginate.prevUrl }}" class="read-more prev">Next Page</a>
		    {% endif %}

		    {% if paginate.nextUrl %}
		        <a href="{{ paginate.nextUrl }}" class="read-more next">Previous Page</a>
		    {% endif %}
		
			
			{% endpaginate %}
			
		</section>
	</div>
	<div class="col-sm-3">
		<section id="sidebar" class="hidden-xs">
			<section>
				<h4>Featured Posts</h4>
				<ul class="list-unstyled">
					{% for post in featured_content.featured_posts %}
						<li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
				    {% endfor %}
				</ul>
			</section>
			<section>
				<h4>Featured Players</h4>
				<ul class="list-unstyled">
					{% for post in featured_content.featured_players %}
						<li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
				    {% endfor %}
				</ul>
			</section>
			<section>
				<h4>KR INTL. Rankings</h4>
				<ol>
					{% for row in rankings.ranking|slice(0, 3) %}
						<li><h3>{{ row.nation }}</h3></li>
					{% endfor %}
				</ol>
				<ul class="list-unstyled"><li><a href="/rankings" class="read-more">See the full rankings</a></li></ul>
			</section>
		</section>
	</div>
</div>

{% endblock %}
