{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "Team" %}

{% block content %}

	<h2>United States Men's National Team</h2>
	
	<section>
		<p>{{team.team_bio}}</p>
	</section>

	<section>
		<h3>Current Roster</h3>
		<ul>
		       {% for post in team.current_roster %}
		           <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		       {% endfor %}
		</ul>
		
		<h4><a href="/players">View the full list of players.</a></h4>
		
	</section>

{% endblock %}
