{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "Team" %}

{% block content %}

	<h2>United States Men's National Team</h2>
	
	<section>
		<p>{{team.team_bio}}</p>
	</section>

	<section>
		<h3>Current Roster</h3>

		{% for row in team.coach %}
			<h4>Coach</h4>
			<h5>{{ row.coach_name }}</h5>
			<!-- <p>{{ row.coach_bio }}</p> -->
		{% endfor %}
		
		<h4>Players</h4>
		<ul>
	       {% for post in team.current_roster %}
	           <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	       {% endfor %}
		</ul>
		
		<h4><a href="{{ url('players') }}">View the full list of players.</a></h4>
		
	</section>
	
	<section>
		<p><a href="{{ url('rankings') }}">See the International Rankings.</a></p>
	</section>

{% endblock %}
