{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #}

{% extends "_layout" %}
{% set title = "Team" %}

{% block content %}
	
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">	
		
		<h1>United States Men's National Team</h1>
		
		<section id="usmnt">
			{% for image in team.team_photo %}
				<img src="{{image.url}}">
			{% endfor %}
		</section>

		{{team.team_bio}}



		<section id="roster">
			
			<h2>Current Roster</h2>

			<div class="row">
				<div class="col-sm-12">
					
					<section id="coach">
						<h4>Coach</h4>
						{% for row in team.coach %}
							<div class="row">
								<div class="col-sm-3">
									{% for image in post.player_photo %}
										<div class="player-image" {% if image.url %} style="background-image: url('{{ image.url }}');" {% endif %}></div>
									{% endfor %}
									<h3>{{ row.coach_name }}</h3>
								</div>
								<div class="col-sm-9">
									<p>{{ row.coach_bio }}</p>
								</div>
							</div>
						{% endfor %}
					</section>
					
					<section id="players">
						<h4>Players</h4>
			
						<ul class="list-unstyled">
							<div class="row">
						       {% for post in team.current_roster %}
								<div class="col-xs-6 col-sm-3">
						           <li>
										<a href="{{ post.url }}">
											{% for image in post.player_photo %}
												
												
													<div class="player-image" style="background-image: url('{{ image.url }}');"></div>
												
												
												{% else %}
												    
													<div class="player-no-image"><span class="glyphicon glyphicon-user"></span></div>
												
											{% endfor %}
											<h3>{{ post.title }}</h3>
										</a>
									</li>
								</div>
						       {% endfor %}
							</div>
						</ul>
		
						<a href="{{ url('players') }}" class="read-more">View the full list of players</a>
					</section>
				
				</div>
			</div>
		</section>
	
	</div>
</div>

{% endblock %}
