{#
 # Rankings index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Rankings" %}

{% block content %}


<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		
		<h1>International Ranking</h1>
		
		<section id="rankings-intro">
			<p>{{ rankings.ranking_intro }}</p>
		</section>

		<section id="rankings">
			<ul class="list-unstyled">
			{% for row in rankings.ranking %}
				<li>
						<div class="row">
							<div class="col-sm-1">
								<h4>{{ loop.index }}</h4>
							</div>
							<div class="col-sm-4">
								<h3>{{ row.nation }}</h3>
							</div>
							<div class="col-sm-7">
								<p>{{ row.nation_info }}</p>
							</div>
						</div>
				</li>
			{% endfor %}
			</ul>
		</section>
	</div>
</div>
	
{% endblock %}