{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	
	<link rel="stylesheet" type="text/css" href="{{ url('css') }}/kickrepublic.css" />	
	
</head>

<body>
	<header>
		<div class="container">
			<div class="navbar">
				<h1><a href="{{ siteUrl }}" class="brand">{{ siteName }}</a></h1>
				<ul class="nav pull-right">
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
					<li><a href="{{ url('team') }}" {% if craft.request.firstSegment == 'team' %}class="active"{% endif %}>USMNT</a></li>
					<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
				</ul>
			</div>
		</div>
	</header>
	
	<div id="main">
		<div class="container">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</div>
	</div>

	<footer id="footer">
		<div class="container">
			<ul>
				<li><a href="{{ siteUrl }}/kickrepublic.rss">RSS</a></li>
				<li><a href="mailto:{{global.email}}">Email</a></li>
				<li><a href="http://twitter.com/{{global.twitter}}">Twitter</a></li>
				<li><a href="http://facebook.com/{{global.facebook}}">Facebook</a></li>
				<li>Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}.</li>
			</ul>
		</div>
	</footer>
</body>
</html>
