{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

<div class="row">
	<div class="col-sm-9">
		<section id="news">
			{% for entry in craft.entries.section('news').find()|slice(0, 1) %}
				<article class="top-news">
				    {% for image in entry.news_image %}
						<div class="featured-image" style="background-image: url({{ image.url }});"></div>
					   <!-- <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ entry.title }}"> -->
					{% endfor %}
				
					<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
					<h5>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author }}</h5>
					<p>{{ entry.news_excerpt }}</p>
					<a href="{{ entry.url }}" class="read-more">Continue reading</a>
				</article>
			{% endfor %}
			
			{% for entry in craft.entries.section('news').find()|slice(1, 4) %}
				<article>
					
					
					<div class="row">
						<div class="col-sm-4">
							{% for image in entry.news_image %}
							   <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ entry.title }}">
							{% endfor %}
						</div>
						<div class="col-sm-8">
							<h2 class="title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
							<h5>Posted on {{ entry.postDate.format('F d, Y') }} by {{ entry.author }}</h5>
							{{ entry.news_excerpt }}
							<a href="{{ entry.url }}" class="read-more">Continue reading</a>
						</div>
					</div>
				</article>
			{% endfor %}
			
			<a href="/news" class="read-more">Read More Kick Republic News</a>
			
		</section>
	</div>
	<div class="col-sm-3">
		<section id="sidebar" class="hidden-xs">
			<section>
				<h4>Featured Posts</h4>
				<ul class="list-unstyled">
					{% for post in featured_content.featured_posts %}
						<li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
				    {% endfor %}
				</ul>
			</section>
			<section>
				<h4>Featured Players</h4>
				<ul class="list-unstyled">
					{% for post in featured_content.featured_players %}
						<li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
				    {% endfor %}
				</ul>
			</section>
			<section>
				<h4>KR INTL. Rankings</h4>
				<ol>
					{% for row in rankings.ranking|slice(0, 3) %}
						<li><h3>{{ row.nation }}</h3></li>
					{% endfor %}
				</ol>
				<ul class="list-unstyled"><li><a href="/rankings" class="read-more">See the full rankings</a></li></ul>
			</section>
	</div>
</div>

{% endblock %}
