{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

	<section>
		<h1>News</h1>

		{% for entry in craft.entries.section('news').find() %}
			<article>
				<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
				<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
				{{ entry.body.page(1) }}
				<p><a href="{{ entry.url }}">Continue reading</a></p>
			</article>
		{% endfor %}
	</section>

{% endblock %}
