{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever someone access http://example.com
 # with no URI, because it’s located in the root of your craft/templates/
 # folder and it’s called index.html. Simple.
 #}

{% extends "_layout" %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		<section id="news">
			{% for entry in craft.entries.section('news').find()|slice(0, 1) %}
				<article class="top-news">
				    {% for image in entry.news_image %}
					   <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ entry.title }}">
					{% endfor %}
				
					<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
					<h5>Posted on {{ entry.postDate.format('F d, Y') }}</h5>
					{{ entry.body.page(1) }}
					<p><a href="{{ entry.url }}">Continue reading</a></p>
				</article>
			{% endfor %}
			
			{% for entry in craft.entries.section('news').find()|slice(1, 5) %}
				<article>
					<h2><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
					
					<div class="row">
						<div class="col-sm-3">
							{% for image in entry.news_image %}
							   <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}" alt="{{ entry.title }}">
							{% endfor %}
						</div>
						<div class="col-sm-9">
							<h5>Posted on {{ entry.postDate.format('F d, Y') }}</h5>
							{{ entry.body.page(1) }}
							<p><a href="{{ entry.url }}">Continue reading</a></p>
						</div>
					</div>
				</article>
			{% endfor %}
			
		</section>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<section id="sidebar" class="hidden-xs">
			<section>
				<h4>Featured Posts</h4>
				<ul class="list-unstyled">
					{% for post in team.current_roster %}
				           <li><a href="{{ post.url }}"><h3>{{ post.title }}</h3></a></li>
				       {% endfor %}
				</ul>
			</section>
			<section>
				<h4>Featured Players</h4>
				<ul class="list-unstyled">
					<li></li>
				</ul>
			</section>
			<section>
				<h4>KR INTL. Rankings</h4>
				<ul class="list-unstyled">
					<li></li>
				</ul>
				<a>See the Full Listing</a>
			</section>
	</div>
</div>

{% endblock %}
